{{ define "main" }}
{{ partial "jumbotron" (dict "title" "ABJOL ABJOL") }}
  <div class="mw7 center ph4 pt5">
    <h2 class='f2 white'>{{.Title}}</h2>
    <span class='db mb3'>{{ .Params.project }}</span>
    <audio controls preload="none">
      <source src="/{{ .Params.file }}.mp3" type="audio/mpeg">
      <source src="/{{ .Params.file }}.ogg" type="audio/ogg">
      <p>Tu navegador no soporta HTML5 audio. Podés descargar el archivo en mp4 <a href="{{ .Params.file }}.mp4">aquí.</a></p>
    </audio>
{{ partial "share-buttons.html" . }}
  </div>
{{ end }}
